@import url("./assets/css/normalize.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Nunito Sans", sans-serif;
		-webkit-font-smoothing: antialiased;
		background-color: white;
	}
}

@layer components {
	.hover {
		@apply cursor-pointer hover:bg-gray-100 hover:rounded-full;
	}

	.hover-shadow {
		@apply hover:shadow;
	}

	.custom-rounded {
		@apply flex flex-row rounded-full border px-2 py-1 gap-2 text-gray-500;
	}

	.search-item {
		@apply cursor-pointer font-normal text-black border-r px-4 border-gray-300 text-sm;
	}

	.search_title_item_selected {
		@apply border-b-2 border-gray-900 pb-2 cursor-pointer;
	}

	.search_title_item {
		@apply cursor-pointer after:transition-[width] after:w-0 after:block after:h-[1px] after:duration-300 after:ease-in-out after:bg-gray-900;
	}

	.search_title_item:hover {
		@apply after:w-full text-gray-500;
	}

	.custom-rounded-big {
		@apply grid grid-flow-col text-center text-gray-500 rounded-full bg-gray-300 active:bg-transparent;
	}

	.tab_item {
		@apply flex justify-start flex-col;
	}

	.region_item {
		@apply w-32 h-32 bg-red-500 rounded-lg border overflow-hidden mb-1;
	}

	.month_box {
		@apply border rounded-md flex-col flex items-center justify-center py-5 w-32;
	}

	.mobile_search_box {
		box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
		@apply mx-5 mt-5 p-2 justify-between  flex rounded-full;
	}
	.active_shadow {
		box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 6px 20px rgb(0 0 0 / 20%);
	}
	.unSelect_Box {
		box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 4px 6px rgb(0 0 0 / 3%);
		@apply rounded-2xl mb-3 bg-white py-4 px-5 flex justify-between items-center;
	}
}

.rmdp-day,
.rmdp-week-day {
	width: 44px !important;
	height: 44px !important;
}

.rmdp-range {
	background-color: rgba(0, 0, 0, 0.1) !important;
	box-shadow: none !important;
	color: black !important;
}

.rmdp-range-hover.start,
.rmdp-range.start,
.rmdp-range-hover.end,
.rmdp-range.end {
	/* border-radius: 50%; */
	background-color: black !important;
	color: white !important;
}

.rmdp-day .rmdp-today {
	background-color: transparent;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-button-next {
	@apply rounded-full -right-1 w-12 h-12 bg-white shadow-lg flex justify-center
    items-center;
}

.swiper-button-prev {
	@apply rounded-full w-12
   h-12 bg-white shadow-lg flex justify-center items-center -left-1 z-10;
}

.swiper-button-next::after {
	content: "\203A";
	color: black;
	font-size: 30px;
	margin-bottom: 4px;
}

.swiper-button-prev::after {
	content: "\2039";
	color: black;
	font-size: 30px;
	margin-bottom: 4px;
}

.calendar-header {
	display: none;
}

.months-container {
	flex-direction: column;
	gap: 20px;
}

.calendar table td,
.calendar table th {
	text-align: center;
	width: 30px !important;
	height: 30px !important;
	border: none;
	padding: 4px 5px !important;
	font-size: 18px !important;
}

@media (max-width: 400px) {
	.calendar table td,
	.calendar table th {
		text-align: center;
		width: 30px !important;
		height: 30px !important;
		border: none;
		padding: 4px 5px !important;
		font-size: 14px !important;
	}
}

.calendar > .day-header {
	border-top: 1px solid #e6e6e6;
	display: none;
}

.calendar table.month th.day-header {
	display: none;
}
.calendar table.month th.month-title {
	text-align: start;
	font-weight: 600;
}
.calendar .months-container .month-container.month-6 {
	width: 100% !important;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
