@import url("./assets/css/normalize.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Nunito Sans", sans-serif;
		-webkit-font-smoothing: antialiased;
		background-color: white;
	}
}

@layer components {
	.hover {
		@apply cursor-pointer hover:bg-gray-100 hover:rounded-full;
	}

	.hover-shadow {
		@apply hover:shadow;
	}

	.custom-rounded {
		@apply flex flex-row rounded-full border px-2 py-1 gap-2 text-gray-500;
	}

	.search-item {
		@apply cursor-pointer font-normal text-black border-r px-4 border-gray-300 text-sm;
	}

	.search_title_item_selected {
		@apply border-b-2 border-gray-900 pb-2 cursor-pointer;
	}

	.search_title_item {
		@apply cursor-pointer after:transition-[width] after:w-0 after:block after:h-[1px] after:duration-300 after:ease-in-out after:bg-gray-900;
	}

	.search_title_item:hover {
		@apply after:w-full text-gray-500;
	}

	.custom-rounded-big {
		@apply rounded-full border text-gray-500 flex;
	}

	.tab_item {
		@apply flex-1 justify-start items-start flex-col;
	}

	.region_item {
		@apply w-32 h-32 bg-red-500 rounded-lg;
	}
}
